<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/style.css">
  <title>MIX ON</title>
</head>



<body>
    <!-- Navbar -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  
  
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
  
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
  
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="tracks.html" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    BACK TO ARTIST & TRACKS

                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
  
                  
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="dixon.html" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    HOME

                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
  
                  
                </li>
                <div class="logoLetrasHoled">
                  <a>HOLED COIN</a>
                </div>
                
              </ul>
              <div class="buttonSearch">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">SEARCH</button>
  
              </div>
              
          
             
              <div class="searchbar">
                <input class="search_input" type="text" name="" placeholder="Search...">
                <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
              </div>
  
         
  
            </div>
          </nav>
  
          <!-- nav-end -->
  
  
  
        </div>
      </div>
    </div>
 
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 cardAmount">
          <div class="imagenParallax">
            <div class="cardAmount" style="width: 18rem;">
            
              <div class="card-body">
         
                <p class="card-text">Born in Valencia is one of the best National dj in his style.
                  Downtempo and Ethnic sounds.
              
                </p>
               
                  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  
    <div class="row">
      <div class="col-12 col-md-12">
        <div class="fondo">
          <video class="videoFondo" playsinline muted="muted" autoplay="autoplay" loop="loop" id="video">
            <source src="../MIX_ON_PROJECT_1/videos/Noise Field 2.mp4" type="video/mp4">
       
          </video>
        </div>
      </div>
    </div>
      

        
    <div class="imagenParallax">
      <div class="card2" style="width: 18rem;">
        <div class="card-body">
  
          <div class="containerInfo">
            <h5>INFO</h5>
            <p>ADDRESS: 127 Kensington High Street, London. </p>
            <P>PHONE : +44 765 345 678</P>
            <P>EMAIL : mix_on@gmail.com</P>
            <P>WEBSITE: www.mix-on.net</P>
          </div>
        </div>
  
        <div class="row"></div>
  
      </div>
      <div class="imagenParallax">
        <div class="card2" style="width: 18rem;">
          <div class="card-body">
  
            <div class="containerCentr">
              <h5>ABOUT US</h5>
              <p>
                We are a team of dj producers who take care of
                the artist's work to transmit high frequency on
                the dance floor.
              </p>
              <br>
              <br>
              <p>
                TRUST ON US!
              </p>
  
  
            </div>
          </div>
  
          <div class="row"></div>
        </div>
      </div>
  
      <div class="imagenParallax">
        <div class="card2" style="width: 18rem;">
          <div class="card-body">
            <div class="col-12 col-md-6">
              <div class="containerDer">
  
                <h5>LOGIN</h5>
                <div class="form-group">
  
                  <input type="Artist name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter Artist Name">
  
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="email@example.com">
  
                  <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Password">
  
                  <input class="btn btn-primary3" type="submit" value="Login">
                </div>
  
  
              </div>
            </div>
  
          </div>
  
          <div class="row"></div>
  
        </div>
  
  
      </div>
  
  
      <div class="imagenParallax">
        <div class="card2" style="width: 18rem;">
          <div class="card-body">
            <div class="col-12 col-md-6">
              <div class="containerDer">
  
                <h5>REGISTER</h5>
                <div class="form-group">
  
                  <input type="Artist name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter Artist Name">
  
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="email@example.com">
  
                  <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Password">
  
  
                  <input type="selected" class="form-control" id="exampleInputEmail1" placeholder="State">
  
                  <input type="selected" class="form-control" id="exampleInputEmail1" placeholder="Zip Code">
                  <input class="btn btn-primary3" type="submit" value="Submit">
                </div>
  
  
              </div>
            </div>
  
          </div>
  
          <div class="row"></div>
  
        </div>
  
  
      </div>
  
  
  
    </div>
  
  
  
  
  </body>    